html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #0d0d0d;
    font-family: "Open Sans", serif;
    line-height: 1.3;
}

img {
    max-width: 100%;
}

div.bio img {
    padding: 2%;
    box-shadow: 5px 5px #171717;
}
.width-wrap {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    padding: 0 2em 2em;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    background-color: #1a1a1a;
    color: #d9d9d9;
}

::selection {
    background-color: #d000d0;
}

footer hr {
    width: 50vw;
    min-width: 300px;
    max-width: 890px;
    margin-top: 3em;
    margin-bottom: 2em;
    border-bottom: 3px dotted #003300;
}



h1 {
    background: rgb(167,209,41);
    background: linear-gradient(180deg, rgba(167,209,41,1) 0%, rgba(26,26,26,1) 85%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #a7d129;
    font-family: "Proza Libre", sans-serif;
}

a {
    color: #a7d129;
}

p a {
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

header a {
    color: #d000d0;
    padding: 1em 0.5em 1em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
}

header a:hover {
    border-top: 4px solid #d000d0;
}

ol {
    list-style-type: upper-roman;
}

header {
    border-top: 4px solid rgb(0, 0, 0);
    border-top: 4px solid rgba(0, 0, 0, 0.1);
    margin-left: -2em;
    margin-right: -2em;
}

header nav {
    border-bottom: 1px dotted rgba(0, 255, 0, 0.3);
    margin: 0em 2em;
}

header ul li {
    display: inline;
}

header nav ul {
    margin: 0;
    padding: 0;
    padding-top: 1em;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.15);
}

td {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 0.3em 1em;
}

th {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.3em 1em;
}

table {
    column-span: all;
    margin-top: 1em;
    border-collapse: collapse;
}
form input,
select,
#life {
    display: block;
}

button {
    border: 0;
    padding: 1em 3em;
    background-color: #a7d129;
    color: black;
}

input:invalid {
    background-color: red;
}
dt::after {
   content:":"; 
}

iframe {
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

fieldset li {
    padding: 0;
    list-style-type: none;
}

.bio {
    column-count: 3;
    column-gap: 2em;
}

footer {
    font-size: 75%;
    text-align: center;
}

a[title="Back to top"] {
    text-shadow: 2px 2px #171717;
    text-decoration: none;
}